/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* :root {
  --navbarColor: #646cff;
  --darkColor: black;
  --lightColor: white;
} */

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */


}

/* login page css */
.login-form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  width: 300px;
  /* Adjust as needed */
  height: 400px;
  /* Adjust as needed */
  padding: 20px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.login-title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.login-title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.login-input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.login-input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.login-input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.login-button-log {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button-log:active,
.login-button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.login-button-confirm {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

/* signup css*/
.signup-form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  width: auto;
  min-width: 25%;
  height: auto;
  padding: 20px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.signup-title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: auto;
}

.signup-title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.signup-input {
  width: 94%;
  height: auto;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.signup-input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.signup-input:focus {
  border: 2px solid var(--input-focus);
}

.signup-gender {
  display: flex;
  gap: 20px;
  font-weight: 600;
  color: var(--font-color);
}

.signup-avatar {
  margin-bottom: 15px;
  font-weight: 600;
  color: var(--font-color);
}

.signup-button-confirm {
  margin: 0 auto;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.signup-footer {
  font-size: 14px;
  color: var(--font-color-sub);
}

.signup-button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.selected-file-container {
  display: flex;
  align-items: center;
}

.selected-file-name {
  margin-right: 10px;
}

.remove-file-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 18px;
}

/* login */
/* .custom-margin-left {
  margin-left: 10px;
} */

/* home */
.main-home {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
}

.main-row {
  height: 100%;
  width: 100%;
}

/* left side */

.left-top {
  /* border-bottom: 1px solid white; */
  margin-bottom: 15px;
  height: 10%;
}

.left-bottom {
  width: 100%;
  height: 80%;
}

.contact-list {
  width: 100%;
  margin-left: 5px;
  display: visible;

}

.contact {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  height: 5rem;
  margin-bottom: 10px;
}


.contact.active {
  background-color: #2980b9;
}

.contact.not-active {
  background-color: black;
}

.contact:hover {
  background-color: #34495e;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.online-indicator {
  position: absolute;
  top: 0px;
  /* Adjust this value as needed */
  right: 5px;
  /* Adjust this value as needed */
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* left bottom */
.left-bottom {
  overflow-y: auto;
  overflow-x: hidden;
}

/* messages container */
.chat-header {
  border-bottom: 1px solid black;
  height: auto;
}

.chat-body {
  overflow-y: auto;
  /* background-image: url('background.jpg'); */
  /* Optional background image */
  background-size: cover;
}

/* Global styles and reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Chat styles */
.message {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.message.sent {
  justify-content: flex-end;
}

.message .text {
  max-width: 100%;
  width: auto;
  padding: 10px;
  border-radius: 15px;
  /* position: relative; */
  /* transition: all 0.3s ease-in-out; */
}

.message.sent .text {
  background-color: #dcf8c6;
}

.message.received .text {
  background-color: rgb(243, 236, 223);
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn {
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.2rem;
  display: none;
}

.text:hover .arrow-btn {
  display: inline;
}

.message-deleted {
  color: red;
  font-style: italic;
}

.timestamp {
  display: block;
  font-size: 0.75rem;
  color: gray;
  text-align: right;
  margin-top: 5px;
}

.edited-text {
  font-style: italic;
  font-size: 0.75rem;
  color: gray;
}

.message-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  animation: dropDown 0.3s ease forwards;
}

@keyframes dropDown {
  0% {
    opacity: 0;
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 100px;
  }
}

.message-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.message-action-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
}

.message-action-btn.edit-btn {
  background-color: #2980b9;
  color: white;
}

.message-action-btn.delete-btn {
  background-color: #c0392b;
  color: white;
}

.message-action-btn.save-btn {
  background-color: #27ae60;
  color: white;
}

.message-action-btn.cancel-btn {
  background-color: #c0392b;
  color: white;
}

.message-action-btn:hover {
  opacity: 0.8;
}

.chat-footer input {
  border-radius: 20px;
  padding: 10px 15px;
}

/* chat loader */
.message-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.message-row-end {
  justify-content: flex-end;
}

.skeleton {
  background: linear-gradient(-90deg, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-line {
  height: 16px;
  width: 160px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

/* Global scrollbar styles */
* {
  scrollbar-width: auto;
  scrollbar-color: #555 #222;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #222;
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
  border: 4px solid #222;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* Horizontal scrollbar */
*::-webkit-scrollbar-horizontal {
  height: 16px;
}

*::-webkit-scrollbar-track-piece {
  background: #222;
}

*::-webkit-scrollbar-corner {
  background: #222;
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: auto;
  scrollbar-color: #555 #222;
}

/* welcome screen image */
.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

/* delete button css */
.deleteButton {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}

.deleteButton svg {
  width: 15px;
}

.deleteButton:hover {
  background-color: rgb(237, 56, 56);
  overflow: visible;
}

.bin path {
  transition: all 0.2s;
}

.deleteButton:hover .bin path {
  fill: #fff;
}

.deleteButton:active {
  transform: scale(0.98);
}

.tooltip {
  --tooltip-color: rgb(41, 41, 41);
  position: absolute;
  top: -40px;
  background-color: var(--tooltip-color);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 12px;
  font-weight: 600;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}

.tooltip::before {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: "";
  background-color: var(--tooltip-color);
  bottom: -10%;
}

.deleteButton:hover .tooltip {
  opacity: 1;
}

/* chat message's image css */
.chat-image {
  max-width: 100%;
  max-height: 200px;
  /* Adjust based on your needs */
  cursor: pointer;
  border-radius: 5px;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: 0 auto;
}

.modal-close-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;

}

/* group edit button */
.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* image loader */
.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {

  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

/* group members button */
.group-members-button:hover {
  color: rgb(128, 128, 128) !important;
}

/* loading animation */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* home-btn */
.home-btn svg:hover {
  color: gray !important;
}

/* side bar tabs */
.custom-nav .nav-link {
  color: white;

}

.custom-nav .nav-link.active {
  color: white !important;
}

/* create group button */
.plusButton {
  /* Config start */
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #000000;
  overflow: hidden;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton .plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover .plusIcon {
  fill: black;
  transform: rotate(180deg);
}

.plusButton:focus-visible .plusIcon {
  fill: black;
  transform: rotate(180deg);
}

/* friends btn */

.friends-btn-anim:hover {
  color: gray !important;
}

/* logout btn */
.logout-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.logout-sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-sign svg {
  width: 17px;
}

.logout-sign svg path {
  fill: white;
}

.logout-text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.logout-btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logout-btn:hover .logout-sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

.logout-btn:hover .logout-text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* check box */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 25px;
  transition: 0.15s;
}

/* When the checkbox is checked, add a green background */
.container input:checked~.checkmark {
  background-color: limegreen;
  border-radius: 25px;
  transition: 0.15s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.35em;
  height: 0.7em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

/*  */
.epr-icn-search {
  display: none;
}

/* exit group button */
.UniqueBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 43px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: white;
}

/* plus sign */
.UniqueSign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UniqueSign svg {
  width: 17px;
}

.UniqueSign svg path {
  fill: black;
}

/* text */
.UniqueText {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.UniqueBtn:hover {
  background-color: black;
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.UniqueBtn:hover .UniqueSign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

.UniqueBtn:hover .UniqueSign svg path {
  fill: white;
}

/* hover effect button's text */
.UniqueBtn:hover .UniqueText {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect */
.UniqueBtn:active {
  transform: translate(2px, 2px);
}